body{font-size: 14px;
	font-family: OpenSans;
	font-weight: lighter;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.woff);
}

.navbar-default{background: none;border: none;}
.navbar { margin-bottom: 0px;padding: 10px 0px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{ background: none;}
.topheader{
background: #ddd; /* Old browsers */
background: -moz-linear-gradient(top,  #ddd 0%, #F6F6F6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#F6F6F6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ddd 0%,#F6F6F6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ddd 0%,#F6F6F6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ddd 0%,#F6F6F6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ddd 0%,#F6F6F6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#F6F6F6',GradientType=0 ); /* IE6-9 */
}

.alert-danger{color: #fff; background: #e33939;}
.alert{ padding-left: 15px;margin-bottom: 0px;border:none;border-radius: 0px;}
.forgetspass{font-size: 12px;}
.banklogo{ width: 220px;}
.navbar-brand { padding: 8px 15px;}
.redbg{ background: #208BAE;height: 450px;}
.login-form h1{ font-size: 48px; color: #fff; padding: 20px 0px;}
.subtit{ font-size: 30px; font-weight: lighter; text-transform: uppercase;color: #163E68;}
select::-ms-expand {width:12px;border:none;background:#fff;}
.padding{ padding:  8px 0px;}

.login-btn, .btn-default[disabled]{ background: #163E68; color: #fff; border: none;font-size:18px;}
.logout-btn{background: #163E68; color: #fff; border: none; }
.login-btn:focus{ background: #e08787; color: #fff; border: none;}
.submit-section a, a, a:focus, a:hover{ color: #fff; text-decoration: none; }
.greybg{ background: none repeat scroll 0% 0% rgba(30, 50, 70, 1); height: 60px;}
.iconsub span.glyphicon{ 
	background: #fff;padding: 10px; border-radius: 100%;color: rgba(105, 105, 105, 1);text-align:center;margin-top: 5px; }
.txt{ padding: 10px 8px;}
.txt h4{ font-weight: bold;}
.txt ul{ float: left;margin-left: -20px;}
.txt ul li{ text-decoration: none;list-style: none;padding: 5px; 2px;}
.usertxt{ background: #f6f6f6; }
.userinfo{ padding: 3px 5px;margin-right: -20px;}
.username{ padding: 0px 8px; color: rgba(44, 44, 44, 1); }
.darkred{ background: #208BAE; color: #fff;}
.darkred p{ font-size: 20px;font-family: OpenSans;font-weight: lighter;margin-top: 8px;margin-bottom: 10px;}
p.usermsg{margin-right: -15px;}
.usermsg a{ font-size: 14px; padding: 0px 15px;}
.usermsg a span.glyphicon{ padding-left: 10px;}
.usermsg sup{background: #fff; font-size:7px; padding: 2px 6px; border-radius: 100%;color: rgba(105, 105, 105, 1);text-align:center;}
.userms a{ margin-top: 5px;}
.usermsg{ font-size: 18px;}
.gerybg{ background: #f6f6f6;}
.txt{font-size: 12px;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{color: #163E68;background: none; border-color: #fff; border-bottom: 1px solid rgba(45, 57, 76, 0.4); }
.list-group{ margin-top: 60px; }
a.list-group-item{ border: none ; border-bottom: 1px solid rgba(45, 57, 76, 0.4);margin-bottom: 0px;background-color: rgba(255, 255, 255, 0);}
.list-group-item:first-child,.list-group-item:last-child{ border-radius: 0px;}
.redbtn{background: #163E68; color: #fff; border: none;padding: 8px 50px;}
hr.sperate{ border: 2px solid #eee; /*text-align: center;*/margin-top: 0px;margin-left: 79px;margin-top: 0;width: 50%;}
.cricle{ font-size:20px; padding: 3px 11px; border: 3px solid #eee; border-radius: 100%;color: rgba(155, 155, 155, 1);text-align:center;}

.formbg{ background: #f7f7f7; padding: 0px; margin-top: 30px border-radius: 5px;}
.form-header{ background: #f0f0f0; padding: 10px 8px; text-align: center;color: #163E68; font-weight: bold;font-size: 20px;}
.form-nameheader{ padding: 40px 0px;text-align: center;margin-top: 20px;}
.formicon-top{ margin-top: -15px;}
.reddark, a.reddark, .reddark:hover, a.reddark:hover{ color: #163E68;}
.reddarkbg{ background: #163E68;}
.redlightbg{ background: #163E68;}
.whitebg{ background: #fff;} 
h3{margin-top: 0px;
margin-bottom: 1px;}
.subtext a{font-size: 12px;color: blue;}
.subheader{padding-top: 10px;}
hr{ padding: 0px;margin-top: 0px;margin-bottom: 5px;}
.edit-btn {float: right;font-size: 14px;bottom: -2px;}
.form-control[disabled]{ background-color: rgba(246, 246, 246, 0.45);}
a.sideheader{ font-size: 14px; font-weight: bold; color: #163E68; border-bottom: 2px solid rgba(45, 57, 76, 0.65);}

select:disabled, input:disabled{border: medium none;box-shadow: none;background: none repeat scroll 0% 0% transparent;outline: medium none;background-color: none;}


/* select::-ms-expand {width:12px;border:none;background:#fff;} */

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .mob-nav{margin-left: 20px; }
	.padding16 { padding: 3px 0px;}
	.form-body{ padding: 20px;}
    .banklogo{ width: 130px;margin-top: 9px;margin-left: 10px;}
	.selectcountry{  height: 410px; margin-bottom: 20px;}
    .transferdetails {  height: 1000px;margin-bottom: 20px;}
    h3{font-size: 20px;}
    .reviewdetails{height: 960px; margin-bottom: 20px;}
    .reviewdetails lable {font-size: 11px;}
    .reviewdetails h3 {font-size: 16px;}
    .confrimdetails{ margin-bottom: 20px;}
    .usermsg a {font-size: 12px;}
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.nav > li > a {padding: 10px 8px;}
	.navbar-brand {padding: 2px 15px;}
	.banklogo{ width: 130px;margin-top: 9px;margin-left: 10px;}
	.padding16{ padding: 3px 0px;}
	.form-body{ padding: 20px;}
    .transferdetails { height: 1060px;margin-bottom: 20px;}
    .reviewdetails{height: 1135px; margin-bottom: 20px;}
    .reviewdetails lable {font-size: 11px;}
    .reviewdetails h3 {font-size: 16px;}
    .confrimdetails{ margin-bottom: 20px;}
    .usermsg a {font-size: 12px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.nav > li > a {
    padding: 10px 8px;
}
	.navbar-brand {
    padding: 2px 15px;
}
	.banklogo{ width: 130px;}
	.padding16{ padding: 16px 0px;}
	.form-body{ padding: 20px;}
	.selectcountry{  height: 380px;margin-bottom: 20px;}
    .transferdetails { height: 855px;margin-bottom: 20px;}
    .reviewdetails{height: 910px;margin-bottom: 20px;}
    .confrimdetails{ margin-bottom: 20px;}
}


/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.iconsub{ padding: 5px;}
	.padding16{ padding: 16px 0px;}
	.form-body{ padding: 20px;}
    .transferdetails {  height: 770px;margin-bottom: 20px;}
    .reviewdetails{height: 770px; margin-bottom: 20px;}
    .confrimdetails{ margin-bottom: 20px;}
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
.iconsub{ padding: 5px;}
	.padding16{ padding: 16px 0px;}
	.form-body{ padding: 20px; }
    .transferdetails {height: 835px;margin-bottom: 20px;}
    .reviewdetails{height: 890px;margin-bottom: 20px;}
    .selectcountry{ height: 350px;margin-bottom: 20px;}
    .confrimdetails{ margin-bottom: 20px;}
}






input[type=checkbox],input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
}
 
/* Disable outline when clicked*/
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus {
    outline: none !important;
}
 
input[type=checkbox]+.lbl,input[type=radio]+.lbl {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
}


input[type=checkbox]+.lbl.padding-16::before,input[type=radio]+.lbl.padding-16::before {
    margin-right: 16px;
}
 
input[type=checkbox]+.lbl.padding-12::before,input[type=radio]+.lbl.padding-12::before {
    margin-right: 12px;
}
 
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before {
    margin-right: 8px;
}
 
input[type=checkbox]+.lbl.padding-4::before,input[type=radio]+.lbl.padding-4::before {
    margin-right: 4px;
}
 
input[type=checkbox]+.lbl.padding-0::before,input[type=radio]+.lbl.padding-0::before {
    margin-right: 0px;
}


input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before {
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 11px;
  color: #163E68;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 15px;
  line-height: 13px;
  min-width: 14px;
  margin-right: 1px;
  margin-top: -5px;
}
 
/* Checked state styles */
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before {
  display: inline-block;
  content: '\f00c';
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
 
/* Hover state styles */
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before {
  border-color: #163E68;
}
 
/* Shadow when checked or Active */
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
 
/* Disabled state styles */
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before {
  background-color: #DDD !important;
  border-color: #CCC !important;
  box-shadow: none !important;
  color: #BBB;
}
 
/* Styles for Radio button */
input[type=radio]+.lbl::before {
  border-radius: 32px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 36px;
}
 
input[type=radio]:checked+.lbl::before {
  content: "\2022";
}