

<div class="row usertxt">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12 text-right">
			<div class="userinfo">
				Welcome <span class="username"> {{userid}} </span>
				 <a href="#/login" class="btn btn-default logout-btn">logout</a>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="row darkred">
	<div class="container">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p> Global Funds Transfer</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 text-right">
			<p class="usermsg">
				<a >Your Message <span class="glyphicon glyphicon-envelope"></span></a><span class="hidden-xs">|</span> 
				<a  class="hidden-xs">Print <span class="glyphicon glyphicon-print"></span></a> 
			</p>
		</div>
	</div>
</div>

<!-- <div class="row gerybg">
	<div class="container">
		<div class="txt">
			<p class="">HSBC Holdings plc is a British multinational banking and financial services company headquartered in London, United Kingdom. It is the world's second largest bank. </p>
		</div>
	</div>
</div> -->

<div class="row ">
	<div class="container">
          <div class="col-xs-12 col-sm-3 col-md-3 sidebar-offcanvas hidden-xs" id="sidebar">
          	<div class="list-group">
                <a  class="list-group-item sideheader">Important Link</a>
            	<a  class="list-group-item">Global View</a>
            	<a  class="list-group-item">Global Transfers</a>
            	<a  class="list-group-item">Global Transfers History</a>
            	<a  class="list-group-item">View Future Transfers</a>
            	<a  class="list-group-item">G T Fees Tariff</a>
            	<a  class="list-group-item">Add a Country/ Territory</a>
            	<a  class="list-group-item">Remove a Country/ Territory</a>
            	<a  class="list-group-item">Help</a>
            	<a  class="list-group-item">Terms & Conditions</a>
          </div>
		</div>
		<div class="col-md-9">
			
			<div class="col-md-12 col-sm-9 col-xs-12">
				<div class="form-nameheader">
					<hr class="sperate">
					<div class="col-md-3 col-sm-3 col-xs-3 formicon-top">
						<span class="cricle redlightbg"> 1 </span>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 formicon-top ">
						<span class="cricle redlightbg"> 2 </span>
					</div>
						<div class="col-md-3 col-sm-3 col-xs-3 formicon-top">
						<span class="cricle redlightbg"> 3 </span>
					<!-- </div>
						<div class="col-md-3 col-sm-3 col-xs-3 formicon-top">
						<span class="cricle whitebg"> 4 </span>
					</div> -->
				</div>
				<div class="clearfix"></div>
					<div class="col-md-3 col-sm-3 padding hidden-xs text-center">
							<span class="subtxt"> Transfer Details </span>
					</div>
					<div class="col-md-3 col-sm-3 padding  hidden-xs text-center">
							<span class="subtxt "> Confirm and Submit </span>
					</div>
					<div class="col-md-3 col-sm-3 padding  hidden-xs text-center">
							<span class="subtxt "> Success </span>
					</div>
					<!-- <div class="col-md-3 col-sm-3 padding  hidden-xs text-center">
							<span class="subtxt reddark"> Confirm and Submit details </span>
					</div> -->
			</div>
            <div class="col-md-12 col-sm-9 col-xs-12 ">
                <div class="formbg confrimdetails">
                    <div class="form-header">
                        <p> Confirmation Information</p>
                    </div>
                    <div class="form-body text-center">
                        <div class="subheader">
                            <h3 class="padding16"><span class="fa fa-check-circle-o"></span> Congratulations! </h3>  
                            <p> Your request has been sent for processing.</p>
                            <p class="padding10"> Reference number :<b>{{transferId}}</b></p>
                            <p> Please save the number for future references.</p>
                            <a href="#/transfer" class="btn btn-default redbtn"><span class="glyphicon glyphicon-home btn-home"></span> Go - back to home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
